@include component(accordian-tabs) {
    
    @include component(accordian-head) {
        @include rem-spacing (padding, 10, 20);
        color: $theme-white;
        background-color: $theme-primary;
        position: relative;
        cursor: pointer;
        border-bottom: 1px solid $theme-white;

        &:after {
            position: absolute;
            right: 10px;
            top: 0;
            content: $icon-arrow_down;
            font-family: '#{$icomoon-font-family}' !important;
            @include size(auto, auto);
            text-align: center;
            @include transition(all .35s);
            @include fontSize($font-size-h3 + 2px);
        }
    }

    @include component(accordian-body) {
        @include rem-spacing (padding, 20);
        background-color: $theme-white;
        border: 1px solid $theme-border;
        border-top: 0;
        display: none;
        //@include transition(0.3s);
    }

    &.open {

        @include component(accordian-head) {
            
            &:after {
                @include transform(rotate(-90deg));
            }
        }

        @include component(accordian-body) {
            // display: block;
            // @include transition(0.3s);
        }
    }
}