@include component(primary-navigation) {
	position: relative;
	//top: 0;
	//@include transform(translateY(-50%));
	//left: -300px;
	z-index: 8;
	@include transition(0.8s);
	@include rem-spacing (margin-top, 60);
	//width: calc(100% - 30%);
	display: flex;
	//justify-content: center;
	align-items: center;
	@include rem-spacing (padding, 0, 130);
	//height: calc(100% - 150px);

	> ul {
		display: none;
		@include transition(0.8s);
		width: 640px;
		position: relative;
		flex-direction: column;
	}

	ul > li {
		@include rem-spacing (margin, 8, 0);
		position: relative;

		&.drop-menu {

			// &.nav-active {

			// 	@include component(dropdown) {
			// 		height: 100%;
			// 	}
			// }

			> a {
				position: relative;

				&:before {
					position: absolute;
					left: -30px;
					top: 40%;
					content: '';
					@include size(20px, 20px);
					background-color: $theme-football;
					border-radius: 50%;

					@media (max-width: 1600px) {
						@include size(16px, 16px);
					}
					
					@media (max-width: 1400px) {
						@include size(10px, 10px);
					}

					@media (max-width: 1199px) {
						@include size(20px, 20px);
					}

					@media (max-width: 480px) {
		                @include size(10px, 10px);
		                top: 6px;
		            }
				}
			}

			&.active {

				> a {
					color: $theme-football;
				}
			}
		}

		> a {
			color: $theme-white;
			@include fontSize($font-size-h3 + 20px);
			//font-size: 1.8vw;
			font-weight: $font-weight-bold;
			text-transform: uppercase;
			@extend .ff-secondary;
			line-height: 1;

			@media (max-width: 1600px) {
				@include fontSize($font-size-h3 + 10px);
			}
			
			@media (max-width: 1400px) {
				@include fontSize($font-size-h3);
			}

			@media (max-width: 1199px) {
				@include fontSize($font-size-h3 + 20px);
			}

			@media (max-width: 480px) {
                @include fontSize($font-size-h3);
            }

			small {
				@include fontSize($font-size-large);
				//font-size: 0.8vw;
				display: block;

				@media (max-width: 1600px) {
					@include fontSize($font-size-medium);
				}

				@media (max-width: 1400px) {
					@include fontSize($font-size-small);
				}

				@media (max-width: 1199px) {
					@include fontSize($font-size-large);
				}
			}
		}

		@include component(dropdown) {
			@include rem-spacing (padding-left, 20px);
			// height: 0;
			// overflow-y: hidden;
			//@include transition(height 0.4s);
			position: absolute;
			right: 0%;
			top: 0;
			width: 240px;
			z-index: 8;
			
			> li {
				@include rem-spacing (margin, 8, 0);

				> a {
					@include fontSize($font-size-h3 + 4px);

					&:hover {
						color: $theme-football;
					}

					@media (max-width: 480px) {
		                @include fontSize($font-size-large);
		            }
				}

				&:last-child {
					@include rem-spacing (margin-bottom, 0);
				}
			}

			@media (max-width: 1199px) {
				@include rem-spacing (padding, 0);
				position: relative;
				top: auto;
				right: auto;
			}
		}
	}

	@media (max-width: 1199px) {
		position: fixed;
		@include size(100%, 100%);
		background-color: $theme-primary;
		top: 0;
		left: -100%;
		z-index: 6;
		overflow: hidden;
		@include transform(translateY(0%));
		@include rem-spacing (margin-top, 0);

		> ul {
			position: absolute;
			left: 0;
			right: 0;
			top: 0%;
			//@include transform(translateY(-50%));
			text-align: center;
			@include rem-spacing (margin-top, 120);
			@include rem-spacing (margin-right, -8);
			@include rem-spacing (padding-bottom, 60);
		    overflow-y: scroll;
		    @include size(100%, 70%);

		}
	}

	&.nav-active {
		//left: 30%;

		> ul {
			display: flex;
		}

		@media (max-width: 1199px) {
			left: 0;
		}
	}
}