@include component(homepage-slider) {
	width: 100%;
	
	@include component(item) {
		background-position: top center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    position: relative;
        height: 100vh;

        @include component(landing-video) {
            object-fit: cover;
            @include size(100%, 100%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
        }

        @media (max-width: 1199px) {
            height: 600px;
        }

	    article {
	    	position: absolute;
	    	left: 0;
	    	top: 50%;
            @include transform(translateY(-50%));
            width: 50%;
	    	padding-left: 10%;
            @include rem-spacing (padding-right, 60);
            z-index: 12;

            @media (max-width: 1199px) {
                top: auto;
                bottom: 10%;
                @include transform(translateY(0%));
                width: 100%;
                @include rem-spacing (padding, 0, 30);
            }

	    	@include component(maintitle) {
                text-transform: uppercase;
                font-weight: $font-weight-xblack;
                font-size: 8vw;
                line-height: 1;
                position: relative;
                z-index: 6;

                @media (max-width: 1199px) {
                    @include fontSize($font-size-h1 - 10px);
                }

                @media (max-width: 575px) {
                    @include fontSize($font-size-h1 - 20px);
                }
            }

            // @include component(subtitle) {
            //     color: $theme-white;
            //     font-weight: $font-weight-normal;
            //     @include rem-spacing (margin-top, 30);
            //     position: absolute;
            //     z-index: 6;
            //     padding-left: 0%;
            //     bottom: 6%;
            //     left: 40%;
            //     width: 50%;
            //     @include fontSize($font-size-medium);

            //     @media (max-width: 1400px) {
            //         left: 44%;
            //     }

            //     @media (max-width: 1199px) {
            //         position: relative;
            //         @include rem-spacing (padding, 0);
            //         width: auto;
            //         left: auto;
            //         bottom: auto;
            //         @include fontSize($font-size-medium);
            //         @include rem-spacing (margin-bottom, 50);
            //         @include rem-spacing (margin-top, 20);
            //     }
            // }
	    }
	}

	@include component(slick-dots) {
		bottom: 20px;
		right: 20px;
		text-align: right;

		li { 
			button:before {
				@include fontSize($font-size-h2 + 20px);
				color: $theme-white;
				@include opacity(1);
			}

			&.slick-active {
				button:before {
					color: $theme-secondary;
				}
			}
		}
	}
}

@include component(gallery-slider) {
    @include rem-spacing(padding, 0, 20);
    
    @include component(item) {
        @include rem-spacing(margin, 0, 10);
    };

    @include component(slick-prev) {
        left: -10px;
        @include size(auto, auto);

        &:before {
            font-family: '#{$icomoon-font-family}' !important;
            content: $icon-arrow_left;
            color: $theme-white;
            @include fontSize($font-size-h2);
        }
    };

    @include component(slick-next) {
        right: -10px;
        @include size(auto, auto);

        &:before {
            font-family: '#{$icomoon-font-family}' !important;
            content: $icon-arrow_right;
            color: $theme-white;
            @include fontSize($font-size-h2);
        }
    };

};