@font-face {
	font-family: 'Druk Text';
	src:url('fonts/DrukText-Bold.ttf') format("truetype");
		font-weight: 600;
		font-style:normal;
}


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$base-font-family		:   'Roboto', sans-serif !default;
$heading-font-family	:   'Druk Text', sans-serif !default;
$base-line-height		: 	1.5;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.

$base-font-size			: 	14px !default;
$font-size-h1			: 	90px;
$font-size-h2			: 	36px;
$font-size-h3			: 	26px;
$font-size-h4			: 	24px;
$font-size-h5			: 	22px;
$font-size-h6			: 	20px;

$font-size-xsmall		: 	10px;
$font-size-small		: 	12px;
$font-size-medium		: 	16px;
$font-size-large		: 	18px;

$font-weight-xblack		: 	900;
$font-weight-black		: 	800;
$font-weight-bold		: 	700;
$font-weight-semi-bold	: 	600;
$font-weight-medium		: 	500;
$font-weight-normal		: 	400;
$font-weight-light		: 	300;
$font-weight-thin		: 	100;


//== Color Variation
//
//## Text color, Background color, Border color.

$theme-default	: 	#181411;
$theme-white	: 	#ffffff;
$theme-black	: 	#000000;
$theme-grey		: 	#666666;
$theme-lg-grey	: 	#f4f6f9;
$theme-sp-grey	: 	#d0d1d2;
$theme-dk-grey	: 	#241f20;
$theme-border	: 	#dee2e6;

// Theme Colors
$theme-primary 	: 	#3e2b64;
$theme-secondary: 	#f72026;

$theme-football : 	#f72026;
$theme-tennis 	: 	#3e2b64;
$theme-padel 	: 	#2D2C2C;
$theme-rugby 	: 	#7f7f7f;
$theme-running 	: 	#ffb400;

$theme-eupepsia : 	#00bdf2;

$link-color		: 	#181411;

// Extra Colors
$theme-success 	: 	#2ed8b6;
$theme-danger 	: 	#ff5370;
$theme-warning  : 	#ffb64d;
$theme-info		: 	#00bcd4;
